.tray--page-title {
    margin-top: 34px;
    margin-bottom: 34px;

    h1 + p {
        margin-top: 50px;
    }

    .center-item {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

//== Breaks --------------------------------------------------------------------------
//==----------------------------------------------------------------------------------
@include lg {
    .tray--page-title {
        margin-top: 64px;
        margin-bottom: 80px;
    }
} //== LG Break ---------------------
