.tray--large-promo {
    position: relative;

    &__wrapper {
        display: flex;
        flex-direction: column;
        padding-top: 80px;
        padding-bottom: 80px;
    }

    &__image {
        width: calc(100% + 23%);
        margin-left: -11.5%;
        position: relative;
        margin-bottom: 54px;

        &::before {
            position: absolute;
            content: "";
            width: 122px;
            height: 122px;
            background-color: $yellow;
            top: -21px;
            right: 0;
            z-index: -1;
        }
    }

    h2 {
        margin-bottom: 22px;
    }

    p:last-of-type {
        padding-bottom: 40px;
    }
}

//== Breaks --------------------------------------------------------------------------
//==----------------------------------------------------------------------------------
@include lg {
    .tray--large-promo {
        &__wrapper {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding-top: 110px;
            padding-bottom: 110px;
        }

        &__image {
            width: 570px;
            height: auto;
            margin-left: unset;
            margin-bottom: 0;

            &::before {
                right: -21px;
            }
        }

        &__text-block {
            width: 500px;
        }

        &.with-background {
            .tray--large-promo__wrapper {
                position: relative;
                &::before {
                    position: absolute;
                    content: "";
                    top: 0;
                    right: 0;
                    width: 75%;
                    height: 100%;
                    background-color: $cool-grey;
                    z-index: -1;
                }
            }

            &::before {
                content: "";
                position: absolute;
                width: 75%;
                max-width: 1500px;
                height: 100%;
                background-color: $cool-grey;
                top: 0;
                right: 0;
                z-index: -1;
            }

            .tray--large-promo__image {
                &::before {
                    right: unset;
                    left: -21px;
                    top: unset;
                    bottom: -21px;
                }
            }
        }

        &.align-right {
            .tray--large-promo__wrapper {
                flex-direction: row-reverse;

                &::before {
                    right: unset;
                    left: 0;
                }
            }

            .tray--large-promo__image {
                &::before {
                    top: unset;
                    bottom: -21px;
                }
            }

            &.with-background {
                &::before {
                    left: 0;
                    right: unset;
                }

                .tray--large-promo__image {
                    &::before {
                        left: unset;
                        right: -21px;
                        bottom: -21px;
                    }
                }
            }
        }
    }
} //== LG Break ---------------------

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
    .tray--large-promo {
        &__text-block {
            padding-left: 60px;
        }

        &.align-right {
            .tray--large-promo__text-block {
                padding-left: 0px;
                padding-right: 60px;
            }
        }
    }
}
