.tray--profile {
    padding-top: 70px;
    padding-bottom: 70px;

    &.background-color {
        &--prime-blue,
        &--navy {
            padding-top: 70px;
        }
    }

    .profile-header {
        text-align: center;
        margin-bottom: 48px;

        h1 {
            margin-bottom: 24px;
        }

        p:last-of-type {
            margin-bottom: 0;
        }
    }

    .swiper-slide,
    .swiper-slide a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 73.5px;
        text-align: center;

        h3,
        .h3 {
            margin-bottom: 4px;
        }

        .title {
            @include toRem(font-size, 16);
            font-family: "Vito-Bold";
            text-transform: uppercase;
            letter-spacing: 1px;
            //margin-bottom: 48px;
        }
    }

    .profile-image {
        overflow: hidden;
        position: relative;
        border-radius: 50%;
        width: 220.3px;
        margin-bottom: 32px;
        background-color: #525252;
        background: repeating-linear-gradient(
            -45deg,
            #4f5053,
            #4f5053 2px,
            #525354 2px,
            #525354 10px
        );

        img {
            @include center;
            object-fit: cover;
        }

        &::before {
            @extend %anim;
            content: "";
            top: 0;
            left: 0;
            box-shadow: inset 0 0 0 0 $yellow;
            position: absolute;
            z-index: 100;
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }

    .swiper-slide a:hover {
        color: $black;

        .profile-image {
            &::before {
                box-shadow: inset 0 0 0 5px $yellow;
            }
        }
    }

    &.background-color--prime-blue {
        .swiper-slide a:hover {
            color: $white;
        }
    }

    .line {
        width: 81px;
        height: 2px;
        background-color: $prime-blue;
        margin-bottom: 24px;
    }

    .swiper-button-prev,
    .swiper-button-next {
        @extend %anim;
        position: absolute;
        width: 45px;
        height: 45px;
        background-color: $white;
        box-shadow: 0 0 6px #d8d8d8;
        border-radius: 50%;
        cursor: pointer;
        font-family: "icomoon";
        margin-left: 5px;
        margin-right: 5px;
        color: $black;

        &::after {
            display: none;
        }

        &::before {
            @include center;
        }

        &:hover {
            background-color: $yellow;
            color: $prime-blue;
        }
    }

    .swiper-button-prev {
        left: 0;
        &::before {
            left: 22px;
            content: "\e901";
        }
    }

    .swiper-button-next {
        right: 0;
        &::before {
            right: 16px;
            content: "\e900";
        }
    }
}

[class^="background-color--"] {
    .line {
        background-color: $yellow;
    }
}

//== Breaks --------------------------------------------------------------------------
//==----------------------------------------------------------------------------------
@include lg {
    .tray--profile {
        padding-top: 70px;

        .swiper {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
} //== LG Break ---------------------
