.swiper-video-outter {
    position: relative;

    .swiper--video {
        height: auto;

        .video-wrapper {
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }

    .swiper-button-wrapper {
        display: flex;
        justify-content: space-between;
        padding-bottom: 40px;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    // .swiper-button-prev,
    // .swiper-button-next {
    //     position: relative;
    //     width: 55px;
    //     height: 55px;
    //     left: unset;
    //     right: unset;

    //     &::after {
    //         display: none;
    //     }
    // }

    .swiper-button-prev,
    .swiper-button-next {
        @extend %anim;
        position: relative;
        width: 45px;
        height: 45px;
        background-color: $white;
        box-shadow: 0 0 6px #d8d8d8;
        border-radius: 50%;
        cursor: pointer;
        font-family: "icomoon";
        // margin-left: 5px;
        // margin-right: 5px;
        color: $black;

        &::after {
            display: none;
        }

        &::before {
            @include center;
        }

        &:hover {
            background-color: $yellow;
            color: $prime-blue;
        }
    }

    .swiper-button-prev {
        //left: 0;
        &::before {
            left: 22px;
            content: "\e901";
        }
    }

    .swiper-button-next {
        //right: 0;
        &::before {
            right: 16px;
            content: "\e900";
        }
    }
}

.swiper--video {
    width: 100%;

    .swiper-slide {
        background: none;

        &::before,
        &::after {
            display: none;
        }

        .video-description {
            @include lora;
            @include toRem(font-size, 18);
            @include toRem(line-height, 24);
            font-weight: 500;
        }
    }
}

.background-color {
    &--prime-blue,
    &--navy,
    &--black {
        svg.icon.icon--carret-button-w,
        svg.icon.icon--carret-button-e {
            fill: $black;
        }
    }
}

//== Breaks --------------------------------------------------------------------------
//==----------------------------------------------------------------------------------
@include lg {
    .swiper--video {
        .swiper-slide {
            .video-description {
                @include toRem(font-size, 24);
                @include toRem(line-height, 32);
            }
        }
    }

    .swiper-video-outter {
        .swiper-button-prev,
        .swiper-button-next {
            position: absolute;
        }

        .swiper-button-prev {
            left: -70px;
        }

        .swiper-button-next {
            right: -70px;
        }
    }
} //== LG Break ---------------------

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
    .swiper-button-wrapper {
        display: flex;
        justify-content: center;
        padding-bottom: 40px;
    }

    .swiper-video-outter {
        .swiper-button-prev,
        .swiper-button-next {
            position: relative;
            width: 55px;
            height: 55px;
            left: unset;
            right: unset;

            &::after {
                display: none;
            }
        }
    }

    .swiper-button-prev {
        margin-right: 10px;
    }

    .swiper-button-next {
        margin-left: 10px;
    }
}
