.swiper--slideshow,
.swiper--slideshow-wrapper,
.swiper--video {
    width: 100%;
    height: 485px;
    position: relative;
    overflow: hidden;

    .swiper-slide {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 1;
        background-color: #525252;
        background: repeating-linear-gradient(
            -45deg,
            #4f5053,
            #4f5053 2px,
            #525354 2px,
            #525354 10px
        );

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 0;
            width: 135px;
            height: 100%;
            pointer-events: none;
            z-index: 2;
            opacity: 0.5;
            left: 0;
            background: rgb(0, 0, 0);
            background: linear-gradient(
                90deg,
                rgba(0, 0, 0, 0.6) 0%,
                rgba(0, 0, 0, 0) 100%
            );
        }

        &::after {
            left: unset;
            right: 0;
            background: linear-gradient(
                -90deg,
                rgba(0, 0, 0, 0.6) 0%,
                rgba(0, 0, 0, 0) 100%
            );
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        width: 24px;
        height: 24px;

        svg {
            fill: $white;
        }

        &::after {
            display: none;
        }
    }

    .swiper-button-next {
        right: 49px;
    }

    .swiper-button-prev {
        left: 49px;
    }

    .swiper-pagination {
        text-align: left;
        left: 20px;
        bottom: 164px;
        z-index: 3;

        .swiper-pagination-bullet {
            @include first-n-last;
            width: 10px;
            height: 10px;
            margin-left: 5px;
            margin-right: 5px;
            border-radius: 5px;
            border: solid 1px $white;
            background-color: rgba($white, 0);

            &-active {
                background-color: $white;
            }
        }
    }

    .text-block {
        color: $white;
        position: absolute;
        z-index: 4;
        max-width: 280px;
        left: 20px;
        top: 334px;
    }
}

//== Breaks --------------------------------------------------------------------------
//==----------------------------------------------------------------------------------
@include md {
} //== MD Break ---------------------

@include lg {
    .swiper--slideshow,
    .swiper--slideshow-wrapper {
        .swiper-pagination,
        .text-block {
            left: 70px;
        }
    }
} //== LG Break ---------------------
