$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1400px;

@mixin sm {
    @media (min-width: #{$sm}) {
        @content;
    }
}

@mixin md {
    @media (min-width: #{$md}) {
        @content;
    }
}

@mixin lg {
    @media (min-width: #{$lg}) {
        @content;
    }
}

@mixin xl {
    @media (min-width: #{$xl}) {
        @content;
    }
}

@mixin iPadPro-p {
    @media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
        @content;
    }
}
