.story-detail {
    .tray--page-title {
        padding-bottom: 34px;
        position: relative;
        margin-bottom: 20px;

        h1::after {
            @include pseudo;
            width: 81px;
            height: 2px;
            background-color: $prime-blue;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            margin-top: 28px;
        }
    }

    .story-image {
        margin-bottom: 30px;

        figcaption {
            @include toRem(font-size, 16);
            margin-top: 10px;
        }
    }

    a.link {
        padding: 0;
        margin-right: 0;
    }
}

.tray--story-share {
    &__wrapper {
        padding-top: 10px;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        border-top: 1px solid #979797;

        ul.share {
            padding: 0;
            margin: 0;
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            .header {
                font-family: "Vito-Bold";
            }

            svg:not(.icon--link) {
                transform: scale(0.521);
            }

            li {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 0;
                width: 48px;
                height: 48px;
            }
        }
    }
}

//== Breaks --------------------------------------------------------------------------
//==----------------------------------------------------------------------------------
@include lg {
    .story-detail {
        .row > * {
            padding-left: 70px;
            padding-right: 70px;
        }

        .story-image {
            width: 100%;
            margin-bottom: 30px;

            &--small {
                max-width: 275px;
            }

            &--large {
                width: calc(100% + 106px);
                margin-left: -53px;
                margin-top: 40px;
            }

            &--left {
                float: left;
                margin-left: -53px;
                margin-right: 30px;
            }
        }
    }

    .story-card {
        .card {
            max-width: 275px;
            margin-left: unset;
            margin-right: unset;
            margin-bottom: 40px;
        }

        &--left {
            float: left;
            margin-left: -53px;
            margin-right: 53px;
        }

        &--right {
            float: right;
            margin-right: -53px;
            margin-left: 30px;
        }
    }

    .story-detail {
        .tray--story-share {
            .row > * {
                padding-left: 0.9375rem;
                padding-right: 0.9375rem;
            }
        }
    }

    .tray--story-share {
        margin-bottom: 80px;
        &__wrapper {
            flex-direction: row;

            ul.share {
                flex-direction: row;
                align-items: center;
                flex-wrap: nowrap;
            }

            .pub-date {
                margin-left: auto;
            }
        }
    }
} //== LG Break ---------------------
